/* generell border-box-Modell verwenden */
*, *::after, *::before {
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
}
body {
   font:normal 1.1em/130% sans-serif;
}

table {
   border: 1px solid lightsteelblue;
   padding: 20px;
   width: 600px;
   border-collapse: collapse;
}
th, td {
   border: 1px solid lightsteelblue;
}
td {
   height: 30px;
   padding: 3px;
}
.e-button {
   color: blue;
   background-color: lightsteelblue;
   border: 1px solid blue;
   height: 40px;
   width: 100px;
   margin: 10px;
}
a.e-button, a.e-button:visited {
   line-height: 40px;
   text-align: center;
   text-decoration: none;
}

/* EOF */
